@media screen and (max-width: 800px){

  @font-face {
    font-family: "ApfelGrotezk";
    src: url("fonts/ApfelGrotezk-Regular.woff2") format("woff2"),
         url("fonts/ApfelGrotezk-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat-Regular";
    src: url("fonts/Montserrat-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Minipax";
    src: url("fonts/Minipax-Regular.woff2") format("woff2"),
         url("fonts/Minipax-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Messapia";
    src: url("fonts/Messapia-Regular.woff2") format("woff2"),
         url("fonts/Messapia-Regular.woff") format("woff");
  }

  #menu {
    display:none;
  }
  .menugauche {
    display:none;
  }
.texteetalons {
  display: none;
}

#textegalerie {
  display: none;
}

.container {display: none}

#expandedImg {display: none}
#imgtext {display: none}
.closebtn {display: none}

#nom_elevage {position: absolute;
              left:2%;
              top:20%;
              z-index: 10;
              font-size: 0.8em;
}

#nom_elevage :hover {
  color: #cfd2d6}

.contenuaccueil {
        position: absolute;
        width:93%;
        top: 8%;
        left: 5%;
        height:90%;
        overflow: auto;
        z-index: 10;
}

#imgaccueil {
  display: none;

}

.texteaccueil {
        position: relative;
        bottom:0%;
        width:100%;
        overflow: auto;
        font-family: 'Minipax';
        font-size: 1em;
        line-height: 1.4em;
        color:black;
        z-index:10;

}

.texteaccueil2 {
        position: relative;
        left: 0%;
        width:100%;
        font-family: 'ApfelGrotezk';
        font-size: 1em;
        line-height: 1.4em;
        color:black;
}

/*  .menumobile {
    display: block;
    position:absolute;
    left:0%;
    width:17%;
    top:8%;
    height:92%;
    background-color: white;
    border-right: 1px solid black;
  }*/
#menuburgerouvert {
  display:none;
  position:absolute;
  width:100%;
  left:0%;
  top:8%;
  height:92%;
  background: white;
  text-align: center;
  overflow: auto;
  z-index:100;

}

#menuburgerouvert p {  font-family: "Minipax";
  font-size: 1em;
  padding:3%;
  color: #00cc82;

}

.liensaccueil {
  font-size: 2.8em;
  line-height: 1.7em;
  text-decoration: none;
  letter-spacing: -0.03em;
  border: 2px solid #00cc82;

}

.liensaccueil:hover {
  font-family: "Minipax";
  text-decoration: underline;
  font-size: 2.5em;
  letter-spacing: 0em;
  background-color: #00cc82;
}


  .containermobile {
  display: block;
  position: absolute;
  top:1%;
  right:2%;
  cursor: pointer;
  z-index:1000;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 8px 0;
  transition: 0.5s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px) ;
  transform: rotate(-45deg) translate(-8px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


/* Fade out the second bar */
.change .bar1 .bar2 .bar3 {
  opacity: 0;
}

.contenuetalons {
        position: absolute;
        top: 0%;
        left: 5%;
        right:1%;
        height:100%;
        width:95%;
        font-family: "Minipax";
        font-size: 1.5em;
        overflow: auto;
        z-index: 10;
}

.contenuetalons img {
  max-width:390px;
}

.tooltip:hover .tooltiptext {
  visibility: hidden;
  opacity: 1;
}

.contenucontact {
        position: absolute;
        top: 8%;
        left: 0%;
        width:98%;
        height:92%;
        overflow: auto;
        background-color: white;
        border-right: 0px solid black;
        text-align: center;
        z-index:10;
}

.coordonnees {
  display: none;
}

.contenupalmares {
        position: absolute;
        top: 3%;
        left: 5%;
        width:93%;
        height:97%;
        overflow: auto;
        z-index: 10;
}

.contenupalmares img {
  max-width: 390px;
}



}
